.header {
  height: 5px;
  color: white;
  /* width: 100%; */
  background-color: firebrick;
  /* text-align: left; */
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

h4 {
  font-size: 12px;
  text-decoration: underline;
}

.links {
  background-color: #494949;
  height: 5px;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: flex-end;

}
.links h4 {
  margin: 0 10px;
}



.bodyleft {
  float: left;
  /* padding: 30px; */
  width: 70%;
  /* border: 2px solid red; */
}

.bodyright {
  float: left;
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  width: 20%;
  height: 768px;
  /* border: 2px solid red; */

}

.footer {
  clear: both;
  background-color: #494949;
  height: 90px;
  padding: 5px;
  color: white;
  /* display: flex; */
  /* justify-content: flex-end; */
}
