.header {
  height: 5px;
  width: 100%;
  background-color: firebrick;
  text-align: left;
  padding: 30px;
}

.login {
  height: 0px;
  width: 500px;
  color: white;
  text-align: right;
  padding: 0px;
}
